*{
  margin:0;
  padding:0;
  font-family: Century Gothic;
  border-radius: border-box;
}

header{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../images/3.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
}

a{
  text-decoration: none;
}

ul.qwer{
  float: right;
  list-style-type: none;
  margin-top: 25px;
  margin-right: 20px;

}

ul.qwer li{
 display: inline-block;
}

ul.qwer li a{
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.6s ease;
}

ul.qwer li a:hover{
  background-color: #fff;
  color: #000;
}

ul.qwer li.active a{
  background-color: #fff;
  color: #000;
}

ul li ul{
  display: block;
}
ul.qwer li ul.qwerty li{
  display:none;
}

.logo img{
  float: left;
  width: 120px;
  height: 120px;
  padding: 10px 20px;
}

.button{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.btn{
  border: 1px solid #fff;
  padding: 10px 30px;
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
  transition: 0.6s ease;

}

.btn:hover{
  background-color: #fff;
  color: #000;
}


#table{
  /* padding: 0 25px; */
  padding-left: 30px;
  padding-top: 20px;
}

.info{
    min-width: 95vw;
    border-collapse: separate;
    border-spacing: 0;
}

.info tbody{
  color: #fff;
}

.info tbody tr td a{
  background: #fff;
  padding: 0.5rem;
  color: black
}

.info tbody tr td a:hover{
  background: #444;
  color: #fff;
  transition: all 0.5s ease-in-out;
  /* border: none; */
}

.itemcontainer{
  background: rgba(71, 69, 69, 0.7);
}

td{
  text-align: center;
  margin: 20px 0;
  padding: 15px 0;
}

.itemHeader {
  font-size: 20px;
  margin: 20px 0;
  padding: 10px 0;
  color: rgb(179, 177, 177);
  text-align: center;
}

.footer {
    width: 100%;
    background: #00121b;
    display: block;
}

.inner-footer {
    width: 95%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}

.footer-items {
    width: 25%;
    padding: 10px 20px;
    box-sizing: border-box;
}

h1 {
    padding: 10px 0;
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
}

.footer-items p {
    color: grey;
    font-size: 16px;
    text-align: justify;
    line-height: 25px;
}

h2 {
    margin: 10px 0;
    color: rgb(181, 179, 179);
    font-size: 20px;
    text-transform: uppercase;
}

.border {
    height: 2px;
    width: 40px;
    background: #ff9800;
}

ul {
    list-style: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.5px;
}

ul a {
    text-decoration: none;
    outline: none;
    color: #fff;
    transition: 0.3s;
}

ul a:hover {
    color: #ff9800;
}

ul li {
    margin: 10px 0;
    height: 25px;
}

li i {
    margin-right: 20px;
}

.social-media {
    width: 100%;
    color: #fff;
    text-align: center;
}

.social-media a {
    text-decoration: none;
}

.social-media i {
    height: 15px;
    width: 15px;
    margin: 20px 5px;
    padding: 10px;
    color: #fff;
    border-radius: 50%;
    border: 1px solid grey;
    transition: 0.3s;
}

.social-media i:hover {
    background: grey;
}

.footer-bottom {
    padding: 10px;
    background: #3d545f;
    color: #fff;
    font-size: 12px;
    text-align: center;
}

@media screen and (max-width: 1085px) {
    .footer-items {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    header{
      height: 85rem;
      width: 34rem;
    }
    .col-sm-4{
      padding-bottom: 20px;
    }
    
    .footer{
      width: 34rem;
    }
}
